# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# Environment
.env

# Database
*.db
*.sqlite
*.sqlite3

# Storage
storage/*
!storage/.gitkeep

# Pytest
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db